{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico'%}">
    <title>SIMPLY SKIN</title>
    <link href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--[if lt IE 9]>
		<script src="assets1/js/html5shiv.min.js"></script>
		<script src="assets1/js/respond.min.js"></script>
	<![endif]-->
    <style>
        .success-message {
            color: green;
        }
        .error-message {
            color: red;
        }
        .valid-feedback, .invalid-feedback {
            display: none;
        }
    </style>
</head>
{% include 'admin.html'%}
<body>


        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Doctor</h4>
                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="post" enctype="multipart/form-data" action="{% url 'add-doctor' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    
                                    <div class="form-group">

                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="first-name-input" name="first_name">
                                        <div id="first-name-error" class="text-danger"></div>
                                        
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" id="last_name" name="last_name">
                                    <small id="last-name-error" class="text-danger"></small>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Username <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="username-input" name="username">
                                    <div id="username-error" class="text-danger"></div>
                                    <div id="username-valid" class="valid-feedback">Strong <span class="text-success">&#10004;</span></div>
                                </div>
                            </div>
                     
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" id="email-input" name="email">
                                    <div id="email-error" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" name="password" oninput="validatePassword(this)">
                                    <div id="password-error-message" class="text-danger"></div>
                                    <div id="password-strength-message" class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="form-control" type="password" name="confirm_password" oninput="validateConfirmPassword(this)">
                                    <div id="confirm-password-error-message" class="text-danger"></div>
                                    <div id="confirm-password-valid" class="valid-feedback">Matching<span class="text-success">&#10004;</span></div>
                                    <div id="confirm-password-invalid" class="invalid-feedback">Not Matching<span class="text-danger">X</span></div>
                                </div>
                            </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Gender</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                                            <label class="form-check-label" for="female">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="other" name="gender" value="other">
                                            <label class="form-check-label" for="other">Other</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="specializations" class="label">Specialization</label>
                                        <select id="specializations" name="specializations" class="form-control" required>
                                            <option id="option1" value="">Select Specialization</option>
                                            <option id="option2" value="medical_dermatology">Medical Dermatology</option>
                                            <option id="option3" value="cosmetic_dermatology">Cosmetic Dermatology</option>
                                            <option id="option4" value="laser_dermatology">Laser Dermatology</option>
                                            <option id="option5" value="hair_treatment">Hair Treatment</option>
                                            <!-- Add more specialization options here if needed -->
                                        </select>
                                    </div>
                                </div>
                                
                                
                            <div class="col-sm-6">
                                <div class="form-group">
                            <select id="role" class="custom-select" name="role" style="display: none;" >
                    
                                <option value="Doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                            
							
                            </div>
                            <div class="m-t-20 text-center">
                                <button id="create-doctor" class="btn btn-primary submit-btn">Create Doctor</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
			
                                       
                </div>
            </div>
        </div>
    </div>
    <script>
        const firstNameInput = document.getElementById('first-name-input');
const firstNameError = document.getElementById('first-name-error');

firstNameInput.addEventListener('input', function() {
    const firstNameValue = this.value.trim();

    // Regular expression to validate first name
    const firstNameRegex = /^[A-Za-z]+$/;

    // Validation condition for no consecutive numbers
    const consecutiveNumbersRegex = /(\d)\1/;

    // Validation condition for no space
    const spaceRegex = /\s/;

    if (!firstNameRegex.test(firstNameValue)) {
        // Display error message if the first name doesn't match the pattern
        firstNameError.textContent = 'Invalid. Please enter a valid name.';
    } else if (consecutiveNumbersRegex.test(firstNameValue)) {
        // Display error message if consecutive numbers are found
        firstNameError.textContent = 'Consecutive numbers are not allowed.';
    } else if (spaceRegex.test(firstNameValue)) {
        // Display error message if space is found
        firstNameError.textContent = 'Spaces are not allowed.';
    } else {
        firstNameError.textContent = '';
    }
});

        document.getElementById('last_name').addEventListener('input', function() {
            var lastName = this.value;
            var errorElement = document.getElementById('last-name-error');
    
            // Regular expression to match only letters (no spaces, numbers, or special characters)
            var regex = /^[A-Za-z]+$/;
    
            if (!regex.test(lastName)) {
                errorElement.textContent = 'Last name should contain only letters.';
                this.classList.add('is-invalid');
            } else {
                errorElement.textContent = ''; // Clear the error message
                this.classList.remove('is-invalid');
            }
        });
       

    const emailInput = document.getElementById('email-input');
    const emailError = document.getElementById('email-error');

    emailInput.addEventListener('input', function() {
        const emailValue = this.value.trim();

        // Regular expression to validate email
        const emailRegex = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.(com|org|in)$/;

        if (!emailRegex.test(emailValue)) {
            // Display error message if the email doesn't match the pattern
            emailError.textContent = 'Invalid email format. Please enter a valid email address with domain extensions .com, .org, or .in.';
        } else {
            emailError.textContent = '';
        }
    });
    function validatePassword(input) {
        const password = input.value;

        // Validation Regex
        const consecutiveNumbersRegex = /(\d)\1/;
        const capitalLetterRegex = /[A-Z]/;
        const numberRegex = /\d/;
        const specialCharacterRegex = /[@&_]/;
        const spaceRegex = /\s/;

        // Validation Conditions
        const consecutiveNumbersCheck = !consecutiveNumbersRegex.test(password);
        const capitalLetterCheck = capitalLetterRegex.test(password);
        const numberCheck = numberRegex.test(password);
        const specialCharacterCheck = specialCharacterRegex.test(password);
        const spaceCheck = !spaceRegex.test(password);

        // Display Validation Errors
        if (!consecutiveNumbersCheck) {
            document.getElementById('password-error-message').textContent = "Consecutive numbers are not allowed.";
        } else if (!capitalLetterCheck) {
            document.getElementById('password-error-message').textContent = "Password must contain at least one capital letter.";
        } else if (!numberCheck) {
            document.getElementById('password-error-message').textContent = "Password must contain at least one number.";
        } else if (!specialCharacterCheck) {
            document.getElementById('password-error-message').textContent = "Password must contain '@', '&' or '_'.";
        } else if (!spaceCheck) {
            document.getElementById('password-error-message').textContent = "Spaces are not allowed in the password.";
        } else {
            document.getElementById('password-error-message').textContent = "";
        }

        // Show/Hide Valid Feedback
        const passwordStrengthMessage = document.getElementById('password-strength-message');
        if (consecutiveNumbersCheck && capitalLetterCheck && numberCheck && specialCharacterCheck && spaceCheck) {
            passwordStrengthMessage.textContent = "Strong";
            passwordStrengthMessage.style.display = 'block';
        } else {
            passwordStrengthMessage.style.display = 'none';
        }
    }

    function validateConfirmPassword(input) {
        const confirmPassword = input.value;
        const password = document.querySelector('input[name="password"]').value;

        const confirmPasswordValid = document.getElementById('confirm-password-valid');
        const confirmPasswordInvalid = document.getElementById('confirm-password-invalid');

        if (confirmPassword === password && confirmPassword !== '') {
            confirmPasswordValid.style.display = 'block';
            confirmPasswordInvalid.style.display = 'none';
        } else {
            confirmPasswordValid.style.display = 'none';
            confirmPasswordInvalid.style.display = 'block';
        }
    }

    
    const usernameInput = document.getElementById('username-input');
    const usernameError = document.getElementById('username-error');
    const usernameValid = document.getElementById('username-valid');
    const tickIcon = usernameValid.querySelector('.text-success');

    usernameInput.addEventListener('input', function () {
        const username = usernameInput.value;

        // Validation Regex
        const consecutiveNumbersRegex = /(\d)\1/;
        const capitalLetterRegex = /[A-Z]/;
        const specialCharacterRegex = /[@_]/;
        const spaceRegex = /\s/;

        // Validation Conditions
        const consecutiveNumbersCheck = !consecutiveNumbersRegex.test(username);
        const capitalLetterCheck = capitalLetterRegex.test(username);
        const specialCharacterCheck = specialCharacterRegex.test(username);
        const spaceCheck = !spaceRegex.test(username);

        // Display Validation Errors
        if (!consecutiveNumbersCheck) {
            usernameError.textContent = "Consecutive numbers are not allowed.";
        } else if (!capitalLetterCheck) {
            usernameError.textContent = "Username must contain at least one capital letter.";
        } else if (!specialCharacterCheck) {
            usernameError.textContent = "Username must contain '@' or '_'.";
        } else if (!spaceCheck) {
            usernameError.textContent = "Spaces are not allowed in the username.";
        } else {
            usernameError.textContent = "";
        }

        // Show/Hide Valid Feedback
        if (consecutiveNumbersCheck && capitalLetterCheck && specialCharacterCheck && spaceCheck) {
            usernameValid.style.display = 'block';
            tickIcon.style.display = 'inline'; // Show the tick mark
        } else {
            usernameValid.style.display = 'none';
        }
    });
    
    </script>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets1/js/popper.min.js'%}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets1/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'assets1/js/select2.min.js'%}"></script>
	<script src="{% static 'assets1/js/moment.min.js'%}"></script>
	<script src="{% static 'assets1/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'assets1/js/app.js'%}"></script>
</body>


<!-- add-doctor24:06-->
</html>
