<!-- patient_history.html -->

<div class="page-content">
    <h3>Patient Appointment History</h3>
    
    {% if user_appointments %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>Prescription</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in user_appointments %}
                    <tr>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time_slot }}</td>
                        <td>
                            {% if appointment.prescription.all %}
                                <a href="{% url 'view_prescription' appointment.id %}">View Prescription</a>
                            {% else %}
                                No Prescription
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No appointment history for this patient.</p>
    {% endif %}
</div>
